:root{
    --black:#333;
    --white:#fff;
    --red:red;

    --base-vertical-rhythm:2vh;
    --header-height:10vh;
    --fixed-length:60px;
}

header,
.box{
    color:var(--white);
}

body{
    margin:0;
}

header{
    background-color:var(--black);

    height:var(--header-height);
    margin:0 0 var(--base-vertical-rhythm);
    padding:2em;
    text-align:center;
    width:100%;
}

.box{
    box-sizing:border-box;
    margin:0;
    position:absolute;
    padding:0;
}

#3GPP .box{
    background-color:var(--black);
}

#JP .box{
    background-color:var(--red);
}

@media (min-aspect-ratio: 1/1) {
    #3GPP .box{
        top:calc((100vh - var(--header-height)) / 3);
    }
}

@media (max-aspect-ratio: 1/1) {
    #3GPP .box{
        left:calc(100vw / 3);
    }
}