:root{
    --black:#333;
    --white:#fff;
    --red:red;

    --base-vertical-rhythm:2vh;
    --header-height:10vh;
    --fixed-length:60px;

    font-family:'Helvetica Neue',Arial,'Hiragino Kaku Gothic ProN','Hiragino Sans',Meiryo,sans-serif;
    font-feature-settings:'pkna' 1;
    scroll-behavior:smooth;
}

header,
.box{
    background-color:var(--black);
    color:var(--white);
}

body{
    margin:0;
}

header{
    background-color:var(--black);
    height:var(--header-height);
    margin:0 0 var(--base-vertical-rhythm);
    padding:2em;
    text-align:center;
    width:100%;
}

main{
    overflow-x:scroll;
    overflow-y:scroll;
}

.box{
    box-sizing:border-box;
    font-weight:bold;
    margin:0;
    position:absolute;
    padding:0;
    text-align:center;
    vertical-align:middle;
}

.JP .box{
    background-color:var(--red);
}

footer{
}