// setup
@charset 'utf-8';

// Colors.
$black:#333;
$dark-gray:#eee;
$right-gray:#bbb;
$white:#fff;
$red:red;
$right-blue:#3ff9dc;
$blue:#03a9f4;
$yellow:#eae3b4;

// Size values utilized.
$base-vertical-rhythm:1vh;

// Size values of the header.
$header-height:6vh;

// Size values of boxes.
$fixed-length:40px;
$box-font-size:14px;
$box-stroke-size:1px;

// Size values of intaractive elements.
$ui-size:3vh;
$unit-indicator-size:5em;
$unit-indicator-position:2rem;

@keyframes pulse{ // Definision of loading animation
    from{
        opacity:1;
        transform:scale(1);
    }
    to{
        opacity:.25;
        transform:scale(.75);
    }
}

:root{
    font-family:'UD デジタル 教科書体 N-R',Meiryo,sans-serif;
    font-feature-settings:'pkna' 1;
    scroll-behavior:smooth;
    text-overflow:ellipsis;
    white-space:nowrap;
}

body,
header,
.box,
.ruler{
    margin:0;
    padding:0;
}

header{
    background-color:$black;
    color:$white;
    height:$header-height;
    left:0;
    margin-bottom:$base-vertical-rhythm;
    text-align:center;
    top:0;
    width:100%;
    z-index:100;

    & > *{
        margin:0 auto;
        padding:0;
    }

    &:first-child{
        padding-top:1em;
    }

    &:last-child{
        padding-bottom:1em;
    }
}

h1{
    font-size:1.5rem;
}

.box,
.ruler{
    contain:size layout;
    height:$fixed-length;
    position:absolute;
}

.box{
    box-sizing:border-box;
    font-size:1px;
    text-align:center;

    & > span{
        color:$white;
        font-size:$box-font-size;
        font-weight:bold;
        text-align:center;
        -webkit-text-stroke:$box-stroke-size $black;
        text-stroke:$box-stroke-size $black;
    }

    &[data-visibillity='y']{
        display:block;
    }
    &[data-visibillity='n']{
        display:none;
    }

    &.JP{
        background-color:$red;
    }
    &.cellular,
    &.3GPP,
    &.DECT{
        background-color:$right-blue;
    }
    &.WiFi,
    &.BT,
    &.ISDBT,
    &.BS{
        background-color:$blue;
    }
    &.ETSI,
    &.IEEE802154,
    &.ISM{
        background-color:$black;
    }
    &.NTT,
    &.KDDI,
    &.SB,
    &.RM{
        background-color:$blue;
    }
}

.ruler{
    background-color:$white;
    text-align:left;
    top:calc(#{$header-height} + #{$base-vertical-rhythm} + 1em);
    width:500px;

    & > span{
        font-size:$box-font-size;
        text-align:left;
    }
}

#unit,
#loading,
#fillter-popup,
.ui{
    background-color:$white;
    contain:size layout paint;
}
#unit,
#loading,
.ui{
    color:$black;
    font-weight:bold;
    position:fixed;
    text-align:center;
    z-index:100;
}

#unit,
#loading{
    bottom:$unit-indicator-position;
    left:$unit-indicator-position;
    height:calc(#{$unit-indicator-size} / 2);
    width:$unit-indicator-size;
}

.ui{
    bottom:$unit-indicator-position;
    display:grid;
    font-size:calc(#{$ui-size} * 0.9);
    grid-template-areas:
        "scalerDown fillter fillter scalerUp"
        "moveLeft moveDown moveUp moveRight";
    height:calc(#{$ui-size} * 2);
    right:$unit-indicator-position;
    width:calc(#{$ui-size} * 4);

    & > button{
        border:1px solid $right-gray;
    }
}

#fillter-menu{
    grid-area:fillter;
}
#scaler-up{
    cursor:zoom-in;
    grid-area:scalerUp;
}
#scaler-down{
    cursor:zoom-out;
    grid-area:scalerDown;
}
#move-left{
    cursor:all-scroll;
    grid-area:moveLeft;
}
#move-right{
    cursor:all-scroll;
    grid-area:moveRight;
}
#move-up{
    cursor:all-scroll;
    grid-area:moveUp;
}
#move-down{
    cursor:all-scroll;
    grid-area:moveDown;
}

#fillter-popup{
    bottom:$unit-indicator-position;
    height:calc(96vh - (#{$unit-indicator-position} + (#{$ui-size} * 2)));
    margin:auto;
    position:fixed;
    width:calc(96vw - (#{$ui-size} * 4));
    z-index:1000;

    &[data-visibillity='y']{
        display:block;
    }
    &[data-visibillity='n']{
        display:none;
    }

    & > label{
        display:block;
        font-size:1.3rem;
        font-weight:bold;
    }
}

#loading{
    display:none;
    z-index:1000;
}
.pulse-container{
    align-items:center;
    display:flex;
    justify-content:space-between;
}
.pulse-bubble{
    background-color:$right-blue;
    border-radius:50%;
    height:20px;
    width:20px;
}
.pulse-bubble-1{
    animation:pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2{
    animation:pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3{
    animation:pulse .4s ease .4s infinite alternate;
}

/*@media (min-aspect-ratio: 1/1) {
    //
}*/

@media (max-aspect-ratio: 1/1) {
    #main{
        transform:rotate(90deg);
    }

    .box,.ruler{
        margin-top:calc(-3 * (#{$header-height} + #{$base-vertical-rhythm}));
    }
}