// setup
@charset 'utf-8';

// Colors.
$black:#333;
$dark-gray:#eee;
$right-gray:#bbb;
$white:#fff;
$red:red;
$right-blue:#3ff9dc;
$blue:#03a9f4;
$yellow:#eae3b4;

// Size values utilized.
$base-vertical-rhythm:1vh;

// Size values of the header.
$header-height:6vh;

// Size values of boxes.
$fixed-length:40px;
$box-font-size:12px;
$box-stroke-size:1px;

// Size values of intaractive elements.
$ui-size:3vh;
$unit-indicator-size:5em;
$unit-indicator-position:2rem;

:root{
    font-family:'UD デジタル 教科書体 N-R',Meiryo,sans-serif;
    font-feature-settings:'pkna' 1;
    scroll-behavior:smooth;
    text-overflow:ellipsis;
    white-space:nowrap;
}

body,
header,
.box,
.ruler{
    margin:0;
    padding:0;
}

[data-visibillity='y']{
    display:block;
}
[data-visibillity='n']{
    display:none;
}

header{
    height:$header-height;
    margin-bottom:$base-vertical-rhythm;
    text-align:center;
    width:100%;
    z-index:100;

    & > *{
        margin:0 auto;
        padding:0;
    }

    &:first-child{
        padding-top:1em;
    }

    &:last-child{
        padding-bottom:1em;
    }
}

h1{
    font-size:1.5rem;
}

.box,
.ruler{
    contain:size layout;
    content-visibility:auto;
    height:$fixed-length;
    position:absolute;
}

.box{
    background-color:$right-gray;
    box-sizing:border-box;
    color:$white;
    font-size:1px;
    text-align:center;

    & > span{
        color:$white;
        font-size:$box-font-size;
        font-weight:bold;
        text-align:center;
        -webkit-text-stroke:$box-stroke-size $black;
        text-stroke:$box-stroke-size $black;
    }

    &.JP{
        background-color:$red;
    }
    &.cellular,
    &.3GPP,
    &.DECT,
    &.NTT,
    &.KDDI,
    &.SB,
    &.RM{
        background-color:$right-blue;
    }
    &.WiFi,
    &.BT,
    &.ISDBT,
    &.BS{
        background-color:$blue;
    }
}

.ruler{
    background-color:$white;
    text-align:left;
    top:0;
    width:500px;

    & > span{
        font-size:$box-font-size;
        text-align:left;
    }
}

#unit,
#fillter-popup,
.ui{
    background-color:$white;
    contain:size layout paint;
}
#unit,
.ui{
    color:$black;
    font-weight:bold;
    position:fixed;
    text-align:center;
    z-index:100;
}

#unit{
    bottom:$unit-indicator-position;
    left:$unit-indicator-position;
    height:calc(#{$unit-indicator-size} / 2);
    width:$unit-indicator-size;
}

.ui{
    bottom:$unit-indicator-position;
    display:grid;
    font-size:calc(#{$ui-size} * 0.9);
    grid-template-areas:
        "scalerDown fillter fillter scalerUp"
        "moveLeft moveDown moveUp moveRight";
    height:calc(#{$ui-size} * 2);
    right:$unit-indicator-position;
    width:calc(#{$ui-size} * 4);

    & > button{
        border:1px solid $right-gray;
    }
}

#fillter-menu{
    grid-area:fillter;
}
#scaler-up{
    cursor:zoom-in;
    grid-area:scalerUp;
}
#scaler-down{
    cursor:zoom-out;
    grid-area:scalerDown;
}
#move-left,
#move-right,
#move-up,
#move-down{
    cursor:all-scroll;
}
#move-left{
    grid-area:moveLeft;
}
#move-right{
    grid-area:moveRight;
}
#move-up{
    grid-area:moveUp;
}
#move-down{
    grid-area:moveDown;
}

#fillter-popup{
    bottom:calc(#{$unit-indicator-position} + #{$ui-size});
    height:calc(96vh - (#{$unit-indicator-position} + (#{$ui-size} * 2)));
    left:$ui-size;
    margin:auto;
    position:fixed;
    width:calc(96vw - (#{$ui-size} * 4));
    z-index:1000;

    & > label{
        display:block;
        font-size:1.3rem;
        font-weight:bold;
        margin:0 auto;
    }
}

/*@media (min-aspect-ratio: 1/1) {
    //
}*/

@media (max-aspect-ratio: 1/1) {
    #main{
        transform:rotate(90deg) translateX(10vw) translateY(10vh);
    }
}